Algoritmo n√£o supervisionado de Machine Learning, classificadores: KNN, SVC, Random Forest
Datasets: IRIS, Breast_Cancer, Wine, diabetes

In [10]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
import pandas as pd

In [32]:
iris = datasets.load_iris()

In [33]:
df1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

2 - Forma de converter datasets em Dataframe pandas

In [44]:
df1 = pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [45]:
df1.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [46]:
df1.shape

(150, 4)

In [35]:
breast_cancer = datasets.load_breast_cancer()

In [39]:
df2 = pd.DataFrame(data=breast_cancer.data, columns=breast_cancer.feature_names)

In [40]:
df2.head()

   mean radius  mean texture  ...  worst symmetry  worst fractal dimension
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [47]:
df2.shape

(569, 30)

In [49]:
wine = datasets.load_wine()

In [50]:
df3 = pd.DataFrame(data=wine.data, columns=wine.feature_names)

In [51]:
df3.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [48]:
df3.shape

(178, 13)

In [54]:
diabetes = datasets.load_diabetes()

In [56]:
df4 = pd.DataFrame(data=diabetes.data, columns=diabetes.feature_names)

In [58]:
df4.head()

        age       sex       bmi  ...        s4        s5        s6
0  0.038076  0.050680  0.061696  ... -0.002592  0.019907 -0.017646
1 -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068332 -0.092204
2  0.085299  0.050680  0.044451  ... -0.002592  0.002861 -0.025930
3 -0.089063 -0.044642 -0.011595  ...  0.034309  0.022688 -0.009362
4  0.005383 -0.044642 -0.036385  ... -0.002592 -0.031988 -0.046641

[5 rows x 10 columns]

In [59]:
df4.shape

(442, 10)